# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DATABASE_URI=

# Server
PORT=4500
NODE_ENV=development
IP_ADDRESS= 192.168.10.18

# JWT
JWT_ACCESS_SECRET=11e12d1d11fe4fff3de4f24f2feasdasded1dqwdqwd123d1d12d12d12ws12s12s1212s12s12s1ed1wdwf2qg2q4ehgy245h53435rgy3w3wg3wg34grf243tfergerty45yhu56ujhh
JWT_ACCESS_EXPIRE=30d
JWT_REFRESH_SECRET=adasdasd21323c23r32rc23rc3x232z3ce23v5423b5n324g24g24f3f2f24hg4h3e5h4t6h5uj57j5y7j46h57yk5uryjnetb334bv34g234tg3w5rtgwrfd2q3fwreger5hye4ygtge
JWT_REFRESH_EXPIRE=90d

# Bcrypt
SALT_ROUND=12

# Email
EMAIL_FROM=07@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email_username
EMAIL_PASS=your_email_password

# Multer
MAX_FILE_SIZE=200 * 1024 * 1024
MAX_COUNT_FILE=3

# Admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
